<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>헬스장</title>
    <!-- 구글폰트 시작코드 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap"
      rel="stylesheet"
    />
    <!-- 폰트어썸 시작코드 -->
    <script
      src="https://kit.fontawesome.com/06632c157c.js"
      crossorigin="anonymous"
    ></script>
    <!-- 부트스트랩 시작코드 -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <style>
      .topbar {
        width: auto;
        height: 70px;
        display: flex;
      }
      .topbar_title {
        flex-basis: 50%;
        text-align: center;
      }
      .topbar_category {
        flex-basis: 50%;
        line-height: 70px;
      }
      .description {
        display: flex;
      }

      .description_left {
        flex-basis: 50%;
        margin: 0px 20px 20px 20px;
      }

      .description_left_map {
        background-color: brown;
        height: 400px;
      }
      .description_right {
        flex-basis: 50%;
        margin: 0px 20px 20px 20px;
      }

      .description_right_comment {
        border: 1px solid black;
        margin: 0px 0 10px 0;
      }
    </style>

    <script>
      function show_main() {
        // $('#cards-box').empty();
        $.ajax({
          type: 'GET',
          url: '/gyms',
          data: {},
          success: function (response) {
            let rows = response['gymsList'];
            for (let i = 0; i < rows.length; i++) {
              let title = rows[i]['gym_Title'];
              // let image = rows[i]['gym_Image'];
              let desc = rows[i]['gym_Desc'];
              let location = rows[i]['gym_Location'];
              let phoneNumber = rows[i]['gym_PhoneNumber'];

              let temp_html = `<div class="col" >
                                <div OnClick=" window.open('??')" style="cursor:pointer;" class="card h-100">
                                    <img src="??"
                                         class="card-img-top" style="background-color: var(--bg-color);">
                                    <div class="card-body" style="background-color: var(--bg-color);">
                                        <h5 class="card-title">${title}</h5>
                                        <p class="card-text">${desc}</p>
                                    </div>
                                </div>
                             </div>`;
              $('#cards-box').append(temp_html);
            }
          },
        });
      }
    </script>
  </head>
  <body>
    <section class="topbar">
      <h1 class="topbar_title">프로젝트 이름</h1>
      <div class="topbar_category">
        <button onclick="show_main()" class="topbar_category_gym">
          헬스장
        </button>
        <button class="topbar_category_pilates">필라테스</button>
        <button class="topbar_category_crossfit">크로스핏</button>
      </div>
    </section>
    <section class="description">
      <div class="description_left">
        <div class="description_left_map">
          <div id="cards-box">
            <div class="col">
              <div
                OnClick=" window.open('??')"
                style="cursor: pointer"
                class="card h-100"
              >
                <img
                  src="??"
                  class="card-img-top"
                  style="background-color: var(--bg-color)"
                />
                <div
                  class="card-body"
                  style="background-color: var(--bg-color)"
                >
                  <h5 class="card-title">${title}</h5>
                  <p class="card-text">${desc}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="description_left_comment">
          <input type="text" /> <button class="">등록</button>
        </div>
      </div>
      <div class="description_right">
        <div class="description_right_comment">ㅁㅇㄴㅁㄴㅇㅁㅇㄴ</div>
        <div class="description_right_comment">ㅁㅇㄴㅁㄴㅇㅁㅇㄴ</div>
        <div class="description_right_comment">ㅁㅇㄴㅁㄴㅇㅁㅇㄴ</div>
        <div class="description_right_comment">ㅁㅇㄴㅁㄴㅇㅁㅇㄴ</div>
        <div class="description_right_comment">ㅁㅇㄴㅁㄴㅇㅁㅇㄴ</div>
        <div class="description_right_comment">ㅁㅇㄴㅁㄴㅇㅁㅇㄴ</div>
        <div class="description_right_comment">
          ㅁㅇㄴㅁㄴㅇsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaㅁㅇㄴ
        </div>
        <div class="description_right_comment">ㅁㅇㄴㅁㄴㅇㅁㅇㄴ</div>
      </div>
    </section>
  </body>
</html>
