<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 align="center">회원가입 창</h1>
    <hr />
    <div>
      <b class="ID">UserID</b><br />
      <input
        class="text"
        type="text"
        name="UserID"
        placeholder="아이디"
      /><br /><br />
    </div>
    <div>
      <b class="pw">PW</b><br />
      <input
        class="text"
        type="password"
        name="PW"
        placeholder="패스워드"
      /><br /><br />
    </div>
    <div>
      <b class="pw-2">PW 확인</b><br />
      <input
        class="text"
        type="password"
        name="PW"
        placeholder="패스워드확인"
      /><br /><br />
    </div>
    <div>
      <b class="name">닉네임</b><br />
      <input
        class="text"
        type="name"
        name="name"
        placeholder="닉네임"
      /><br /><br /><br />
    </div>
    <div><input type="checkbox" /> email 수신 동의</div>
    <div>
      <button class="sign_up" type="button">Sign up</button>
    </div>
  </body>
</html>
